.yplayer-container {
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	padding: .5rem 0;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width: 100%;
}

.yplayBtn {
	position: absolute;
	top: 0;
	width: 1rem;
}
.yplayBtn img{
	cursor: pointer;
}

.yplayer-bar {
	box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 2rem;
    height: 2px;
    background: #ddd;
    cursor: pointer;
}
.yplayer-bar .yplayer-loaded {
	height: 2px;
	background: #ff8345;
}
.yplayer-bar .yplayer-played {
	position: relative;
	top: -.15rem;
	box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #ff8345;
    background: #fff;
	width: .3rem;
	height: .3rem;
	cursor: pointer;
}

.yplayer-time {
	position: absolute;
	top: .3rem;
	right: 0;
	width: 2rem;
	text-align: center;
	font-size: .3rem;
	color: #aaa;
}