.yplayer-container {
	display: -webkit-flex;
	display: flex;
	box-shadow: 0 0 3px #bbb;
	border-radius: 5px;
	width: 100%;
	min-width: 320px;

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: 0;
		font-family: Arial, sans-serif;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
        user-select: none;
	}

	.yplayer-button-wrap {
		width: 80px;
		height: 80px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 

		button {
			position: relative;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			border: 0;
			border-radius: 50%;
			background: rgba(0,0,0,.4);
			width: 32px;
			height: 32px;
			cursor: pointer;

			&:hover {
				background: rgba(0,0,0,.6);
			}
		}
	}

	.yplayer-mid {
		flex-grow: 1;
		padding: .5em;

		.yplayer-info {
			height: 50%;
			white-space: nowrap;
			text-overflow: ellipsis;

			.yplayer-music-name {display: block;font-weight: bold;}
			.yplayer-music-author {display: block;font-size:.7em;color: #ccc;}
		}

		.yplayer-bar-wrap {
			position: relative;
			height: 50%;

			.yplayer-bar {
				position: absolute;
				bottom: 10px;
				background:#eee;
				width: 100%;
				height: 2px;
				cursor: pointer;

				.yplayer-loaded {
					position: absolute;
					background: #e67e22;
					height: 2px;
				}
				.yplayer-played {
					@extend .yplayer-loaded;
					background: #d35400;
				}
			}

			.yplayer-dot {
				position: absolute;
				bottom: 0;
				right: 0;
				-webkit-transform: translate(50%,50%);
				transform: translate(50%,50%);
				display: block;
				border-radius: 50%;
				width: 8px;
				height: 8px;
				background:#fff;
				box-shadow: 0 0 5px #d35400;
			}
		}
	}

	.yplayer-item {
		display: -webkit-flex;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		padding: .5em;

		button {
            border: 0;
            background:transparent;
            cursor: pointer;
		}

		.yplayer-time-wrap {
			display: inline-block;
			margin: 0 .25em;
			height: 20px;
		}

		.yplayer-volume-wrap {
			position: relative;
			margin: 0 .25em;

			.yplayer-volume-bar-wrap {
				position: absolute;
				bottom: 100%;
				-webkit-transform: rotate(180deg);
                transform: rotate(180deg);
				padding: 0 6px;
				width: 16px;
				height: 35px;
				visibility: hidden;

				.yplayer-volume-bar {                   
                    width: 100%;
                    height: 100%;
                    background-color: #eee;
                    cursor: pointer;
			    }
			} 

			&:hover {
				.yplayer-volume-bar-wrap {visibility: visible;}
			}

			.yplayer-volume {
				background-color: #e67e22;
			}
		}

		.yplayer-loop-button {margin: 0 .25em;}
		.yplayer-noloop { .yplayer-fill {fill: #eee;}}
	}
}